.container {
  position: relative;
  top: 100px;
  text-align: center;
  margin: auto;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.login_panel {
  margin: auto;
  width: 50%;
}

.input {
  margin: 5px;
}

.item {
  min-width: 100px;
}