/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports

@import '~bootstrap/bootstrap.min.css';
 */
@import "~font-awesome/css/font-awesome.css";
@import '~react-table/react-table.css';
@import '~react-bootstrap-table/dist/react-bootstrap-table-all.min.css';
@import "~react-bootstrap-toggle/dist/bootstrap2-toggle.css";
@import "~bootstrap/css/bootstrap-theme.min.css";
@import "~bootstrap/css/bootstrap.min.css";
@import "~react-dates/lib/css/_datepicker.css";

/*
body {
  position: relative;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(to bottom, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: auto;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}
h1 {
  color: white;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
*/